name: release
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: gcc -O2 -o appgallerycli appgallerycli.c
      - uses: softprops/action-gh-release@v1
        with:
          files: appgallerycli
